@media screen and (min-width : 600px){
	#header h1{
		text-align: center;
		text-decoration: underline;
	}

	.container{
		width: 100%;
		height: 60%;
		position:absolute;
	}
	#div1{
		width: 31%;
		height: 300px;
		margin: 1%;
		background-color: #ff8989;
		display: inline-block;
	}
	#div2{
		width: 31%;
		height: 300px;
		margin: 1%;
		background-color: #88f7ce;
		display: inline-block;
	}
	#div3{
		width: 31%;
		height: 300px;
		margin: 1%;
		background-color: #ff8989;
		display: inline-block;
	}

}

@media screen and (max-width: 600px){
	#header h1{
		text-align: center;
		text-decoration: underline;
	}

	.container{
		width: 100%;
		height: 60%;
		position:absolute;
	}
	#div1{
		width: 100%;
		height: 300px;
		margin: 1%;
		background-color: #ff8989;
		
	}
	#div2{
		width: 100%;
		height: 300px;
		margin: 1%;
		background-color: #88f7ce;
		
	}
	#div3{
		width: 100%;
		height: 300px;
		margin: 1%;
		background-color: #ff8989;
		
	}

}
